<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.gson.hisspring.model.mapper.jurisdiction_module_mapper.StaffMapper">
    <resultMap id="BaseResultMap" type="cn.gson.hisspring.model.pojos.Staff">
        <id column="s_id" jdbcType="INTEGER" property="sId" />
        <result column="s_name" jdbcType="VARCHAR" property="sName" />
        <result column="s_sore" jdbcType="VARCHAR" property="sSore" />
        <result column="s_phone" jdbcType="VARCHAR" property="sPhone" />
        <result column="s_date" jdbcType="VARCHAR" property="sDate" />
        <result column="s_zt" jdbcType="VARCHAR" property="sZt" />
        <association property="user" javaType="cn.gson.hisspring.model.pojos.User">
            <id column="u_id" jdbcType="INTEGER" property="uId" />
            <result column="u_name" jdbcType="VARCHAR" property="uName" />
            <result column="u_pswd" jdbcType="VARCHAR" property="uPswd" />
        </association>
        <association property="ks" javaType="cn.gson.hisspring.model.pojos.DepartmentKs">
            <id column="ks_id" jdbcType="INTEGER" property="ksId" />
            <result column="ks_name" jdbcType="VARCHAR" property="ksName" />
            <result column="de_id" jdbcType="INTEGER" property="deId"/>
            <result column="ks_dz" jdbcType="VARCHAR" property="ksDz" />
        </association>
        <association property="t" javaType="cn.gson.hisspring.model.pojos.Title">
            <id column="t_id" jdbcType="INTEGER" property="tId" />
            <result column="t_name" jdbcType="VARCHAR" property="tName" />
        </association>
        <association property="role" javaType="cn.gson.hisspring.model.pojos.Role">
            <id column="r_id" jdbcType="INTEGER" property="rId" />
            <result column="r_name" jdbcType="VARCHAR" property="rName" />
        </association>
        <association property="dept" javaType="cn.gson.hisspring.model.pojos.Department">
            <id column="de_id" jdbcType="INTEGER" property="deId" />
            <result column="de_name" jdbcType="VARCHAR" property="deName" />
        </association>

    </resultMap>
    <select id="selectALl" resultMap="BaseResultMap">
        SELECT  * FROM staff s inner join `user` u on s.u_id=u.u_id inner join department_ks d on
            s.ks_id=d.ks_id INNER join title t on s.t_id=t.t_id inner join department dept on
            d.de_id=dept.de_id
    </select>
    <select id="selectksId" resultMap="BaseResultMap">
        select * from staff where ks_id=#{ksId}
    </select>
    <select id="selecttId" resultMap="BaseResultMap">
        select * from staff where t_id=#{tId} and s_zt=0
    </select>
    <update id="upa">
        update staff set s_zt=1 where s_id=#{sid}
    </update>
<select id="selectRole" resultMap="BaseResultMap">
    SELECT * FROM staff s inner join role_middle_user ru on s.u_id = ru.U_id
        inner join role r on ru.R_id=r.R_id WHERE s.u_id=#{uId}
</select>
</mapper>