<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.gson.hisspring.model.mapper.checkout_module_mapper.SsApplyMapper">
    <resultMap id="allssApply" type="cn.gson.hisspring.model.pojos.SsOperationApply">
        <id column="apply_id" property="applyId"></id>
        <result  column="pt_no" property="ptNo"></result>
        <result  column="simulation_operation" property="simulationOperation"></result>
        <result  column="simulation_time" property="simulationTime"></result>
        <result  column="s_id" property="sId"></result>
        <result  column="project_id" property="projectId"></result>
        <result  column="change_id" property="changeId"></result>
        <result  column="operation_id" property="operationId"></result>
        <result  column="hocus_id" property="hocusId"></result>
        <result  column="apply_zt" property="applyZt"></result>
        <result  column="Operation_anathe" property="operationAnathe"></result>
        <result  column="Operation_helper" property="operationHelper"></result>
        <result  column="Operation_doctor" property="operationDoctor"></result>
<!--        执行人信息-->
        <association property="ys" javaType="cn.gson.hisspring.model.pojos.Staff">
            <id column="ys_id" jdbcType="INTEGER" property="sId" />
            <result column="ys_name" jdbcType="VARCHAR" property="sName" />
        </association>
<!--        主刀医生员工信息-->
        <association property="ptdx" javaType="cn.gson.hisspring.model.pojos.ZyPatientBase">
            <result column="Pt_no" property="ptNo"/>
            <result column="pt_In_date" property="ptInDate"/>
            <result column="Pt_name" property="ptName"/>
            <result column="pt_sex" property="ptSex"/>
            <result column="Pt_Birth_date" property="ptBirthDate"/>
            <result column="Pt_Capacity_no" property="ptCapacityNo"/>
            <result column="Pt_Home_adder" property="ptHomeAdder"/>
            <result column="ks_id" property="ksId"/>
            <result column="Pt_Diagnose_name" property="ptDiagnoseName"/>
            <result column="Bd_id" property="bdId"/>
            <result column="Pt_Out_date" property="ptOutDate"/>
            <result column="Pt_age" property="ptAge"/>
            <result column="pt_pay_money" property="ptPayMoney"/>
            <result column="pt_price" property="ptPrice"/>
            <result column="pt_iphone" property="ptIphone"/>
            <result column="s_id" property="sId"/>
            <result column="ks_name" property="ksName"/>
            <result column="pt_is" property="ptIs"/>
            <association property="staff" javaType="cn.gson.hisspring.model.pojos.Staff">
                <id column="yh_id" jdbcType="INTEGER" property="sId" />
                <result column="yh_name" jdbcType="VARCHAR" property="sName" />
            </association>
        </association>
    </resultMap>
    <resultMap id="DrugInforMap" type="cn.gson.hisspring.model.pojos.YfDruginformation">
        <result property="drugId" column="Drug_id" />
        <result property="drugName" column="Drug_name" />
        <result property="drugBarCode" column="Drug_barCode" />
        <result property="drugPrice" column="Drug_price" />
        <result property="drugUsage" column="Drug_usage" />
        <result property="ykSpecId" column="YK_spec_id" />
        <result property="ykSupplierId" column="YK_Supplier_id" />
        <result property="yfDrcaId" column="YF_drca_id" />
        <result property="drugUpper" column="Drug_upper" />
        <result property="drugRemark" column="Drug_remark" />
        <result property="drugUnit" column="Drug_unit" />
        <result property="drugSpecification" column="Drug_specification" />
        <result property="drugPastDate" column="Drug_pastDate" />
        <result property="drugParticle" column="Drug_particle"/>
        <result property="drugQuantity" column="Drug_quantity"/>
        <result property="drugPrescription" column="Drug_prescription"/>
        <!--药品规格-->
        <association property="ykDrugspecifcations" javaType="cn.gson.hisspring.model.pojos.YkDrugspecifcations">
            <result property="specId" column="spec_id"/>
            <result property="specSpecification" column="spec_specification"/>
            <result property="specPack" column="Spec_pack"/>
        </association>
        <!--供应商-->
        <association property="ykSupplier" javaType="cn.gson.hisspring.model.pojos.YkSupplier">
            <result property="supplierId" column="Supplier_id"/>
            <result property="supplierName" column="Supplier_name"/>
            <result property="supplierSite" column="Supplier_site"/>
            <result property="supplierPhone" column="Supplier_phone"/>
            <result property="supplierLinkman" column="Supplier_linkman"/>
        </association>
        <!--药品类别-->
        <association property="yfDrugcategory" javaType="cn.gson.hisspring.model.pojos.YfDrugcategory">
            <result property="yfDrcaId" column="YF_drca_id"/>
            <result property="yfDrcaName" column="YF_drca_name"/>
        </association>
    </resultMap>
    <select id="selectSsApply" resultMap="allssApply">
        select * from ssapply
        <where>
            <if test ="seach !=null and '' != seach"> /*名称like*/
                and pt_name like'%${ptName}%'
            </if>
            <if test ="seach !=null and '' != seach">/*伤害*/
                or pt_diagnose_name like'%${ptDiagnoseName}%'
            </if>
        </where>
    </select>
    <!--查询手术药品信息-->
    <select id="querysById" resultMap="DrugInforMap">
        select * from yf_drugInformation yp left join
         yk_drugSpecifcations gg on yp.YK_spec_id = gg.spec_id
        left join yk_supplier gys on yp.YK_Supplier_id = gys.Supplier_id
        left join yf_drugcategory lb on yp.YF_drca_id = lb.YF_drca_id
        where lb.YF_drca_id=3
    </select>
</mapper>