<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.gson.hisspring.model.mapper.checkout_module_mapper.SsDetailsMapper">
    <resultMap id="allssDetails" type="cn.gson.hisspring.model.pojos.SsOperationDetails">
    <id column="Operation_num" property="operationDate"></id>
    <result  column="Operation_time" property="OperationTime"></result>
    <result  column="Operation_date" property="operationDate"></result>
    <result  column="project_id" property="projectId"></result>
    <result  column="Operation_handle" property="operationHandle"></result>
    <result  column="Operation_hocus" property="operationHocus"></result>
    <result  column="Operation_doctor" property="operationDoctorName"></result>
    <result  column="pt_no" property="ptNo"></result>
    <!--病人信息-->
    <association property="ptdx" resultMap="cn.gson.hisspring.model.mapper.inhospital_module_mapper.PatientBaseMapper.patientMap"></association>
    <!--手术信息-->
    <association property="ssdx" resultMap="cn.gson.hisspring.model.mapper.checkout_module_mapper.SprojectMapper.allProject"></association>
    </resultMap>
    <select id="selectAllsDetails" resultMap="allssDetails">
        select * from  ss_operation_project a left join department_ks b on a.ks_id=b.ks_id
        <where>
            <if test ="projectNumber !=null and '' != projectNumber"> /*卡号like*/
                Project_number like'%${projectNumber}%'
            </if>
            <if test ="projectType !=null and '' != projectType">/*手术类别like*/
                or project_type like'%${projectType}%'
            </if>
            <if test ="projectName !=null and '' != projectName">/*手术名称like*/
                or project_name like'%${projectName}%'
            </if>
            <if test ="ksName !=null and '' != ksName">/*科室*/
                or b.ks_name like'%${ksName}%'
            </if>
        </where>
        ORDER BY a.project_pay desc
    </select>
</mapper>