<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--体检人员xml-->
<mapper namespace="cn.gson.hisspring.model.mapper.checkout_module_mapper.TjManMapper">
    <resultMap id="TjMan" type="cn.gson.hisspring.model.pojos.TjCodeMan">
        <id column="man_id" property="manId"></id>
        <result  column="man_name" property="manName"></result>
        <result  column="man_sid" property="manSid"></result>
        <result  column="man_gender" property="manGender"></result>
        <result column="man_time" property="manTime"></result>
        <result column="man_birthtime" property="manBirthtime"></result>
        <result column="man_age" property="manAge"></result>
        <result column="man_phone" property="manPhone"></result>
        <result column="man_phy" property="manPhy"></result>
        <result column="man_state" property="manState"></result>
        <result column="mc_balance" property="mcBalance"></result>
        <result column="man_proposal" property="manProposal"></result>
    </resultMap>
<!--    //体检人员模糊查询-->
    <select id="selectAllMan" resultMap="TjMan">
        select *,(select mc_balance from  mz_medical_card where mc_Id_Card=tj.man_sid) mc_balance from tj_code_man  tj
        <where>
            tj.man_id not in(
            SELECT
            tj_man_result.man_id
            FROM
            tj_man_result
            where
            tj_man_result.man_result is not null or tj_man_result.man_result != '' or tj_man_result.man_result is null
            group by tj_man_result.man_id
            )
            <if test ="sermen !=null and '' != sermen"> /*名称like*/
                and tj.man_name like '%${sermen}%'
            </if>
            <if test ="sermen !=null and '' != sermen">/*身份证*/
                or tj.man_sid like '%${sermen}%'
            </if>
            <if test ="sermen !=null and '' != sermen">/*手机号*/
                or tj.man_phone like '%${sermen}%'
            </if>
        </where>
        order by TO_DAYS(tj.man_time) = TO_DAYS(NOW()) desc
    </select>
    <!--    //体检人员未填完结果-->
    <select id="selectAllMan1" resultMap="TjMan">
        select *,(select mc_balance from  mz_medical_card where mc_Id_Card=tj.man_sid) mc_balance from tj_code_man  tj
        <where>
            tj.man_id  in(
            SELECT
            tj_man_result.man_id
            FROM
            tj_man_result
            where
            tj_man_result.man_result is null or tj_man_result.man_result =''
            group by tj_man_result.man_id
            )
            <if test ="sermen !=null and '' != sermen"> /*名称like*/
                and tj.man_name like '%${sermen}%'
            </if>
            <if test ="sermen !=null and '' != sermen">/*身份证*/
                or tj.man_sid like '%${sermen}%'
            </if>
            <if test ="sermen !=null and '' != sermen">/*手机号*/
                or tj.man_phone like '%${sermen}%'
            </if>
        </where>
        order by TO_DAYS(tj.man_time) = TO_DAYS(NOW()) desc
    </select>
    <!--    //体检人员已填完结果-->
    <select id="selectAllMan2" resultMap="TjMan">
        select *,(select mc_balance from  mz_medical_card where mc_Id_Card=tj.man_sid) mc_balance from tj_code_man  tj
        <where>
            tj.man_id  in(
            SELECT
            tj_man_result.man_id
            FROM
            tj_man_result
            where
            tj_man_result.man_result is not null or tj_man_result.man_result != ''
            group by tj_man_result.man_id
            )
            <if test ="sermen !=null and '' != sermen"> /*名称like*/
                and tj.man_name like '%${sermen}%'
            </if>
            <if test ="sermen !=null and '' != sermen">/*身份证*/
                or tj.man_sid like '%${sermen}%'
            </if>
            <if test ="sermen !=null and '' != sermen">/*手机号*/
                or tj.man_phone like '%${sermen}%'
            </if>
        </where>
        order by TO_DAYS(tj.man_time) = TO_DAYS(NOW()) desc
    </select>

    <!--    体检人员检查项目中间表批量新增-->
    <insert id="insertTjman">
        insert into tj_man_middle values
        <foreach collection="listArr" index="index"  item="i" separator=",">
            (#{manId},#{i})
        </foreach>
    </insert>
<!--    &lt;!&ndash;    体检人员批量修改&ndash;&gt;-->
<!--    <update id="updTjman">-->
<!--        <foreach collection="listArr" index="index" open="" close=""  item="i" separator=";">-->
<!--        update  tj_code_man-->
<!--        <set>-->
<!--            man_time=#{i.manTime,jdbcType=TIMESTAMP}-->
<!--        </set>-->
<!--        where man_id=#{i.manId}-->
<!--        </foreach>-->
<!--    </update>-->
<!--    <update id="updatePublishByIds" parameterType="java.util.Map">-->
<!--        <foreach collection="list" item="item" index="index" open="begin" close=";end;" separator=";">-->
<!--            update INDEX_PRODCUT-->
<!--            <set>-->
<!--                <if test="item.status != null and item.status !='' ">-->
<!--                    status=#{item.status,jdbcType=VARCHAR},-->
<!--                </if>-->
<!--                <if test="item.mdate != null ">-->
<!--                    mdate=#{item.mdate,jdbcType=TIMESTAMP},-->
<!--                </if>-->
<!--                <if test="item.muser_id != null and item.muser_id !=''  ">-->
<!--                    muser_id=#{item.muser_id,jdbcType=VARCHAR}-->
<!--                </if>-->
<!--            </set>-->
<!--            where id = #{item.id}-->
<!--        </foreach>-->
<!--    </update>-->
</mapper>