<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.gson.hisspring.model.mapper.checkout_module_mapper.TjprojectMapper">
    <resultMap id="Tjproject" type="cn.gson.hisspring.model.pojos.TjCodeProject">
        <id column="check_id" property="checkId"></id>
        <result  column="check_name" property="checkName"></result>
        <result  column="check_pay" property="checkPay"></result>
        <result  column="index_name" property="indexName"></result>
        <result  column="index_significance" property="indexSignificance"></result>
        <result  column="ks_id" property="ksId"></result>
        <result  column="check_tpye" property="checkTpye"></result>
        <association property="deptks"  javaType="cn.gson.hisspring.model.pojos.DepartmentKs">
            <id column="ks_id" jdbcType="INTEGER" property="ksId" />
            <result column="ks_name" jdbcType="VARCHAR" property="ksName" />
            <result column="de_id" jdbcType="TIMESTAMP" property="deId" />
            <result column="ks_dz" jdbcType="TIMESTAMP" property="ksDz" />
        </association>
    </resultMap>
    <select id="selectAllTjObject" resultMap="Tjproject">
        SELECT * FROM tj_code_project a  left join  department_ks b on b.ks_id=a.ks_id
        <where>
            <if test ="checkTpye !=null and '' != checkTpye"> /*名称like*/
                check_tpye like'%${checkTpye}%'
            </if>
            <if test ="seach !=null and '' != seach"> /*名称like*/
                 and  check_name like'%${checkName}%'
            </if>
            <if test ="seach !=null and '' != seach">/*指标*/
                or index_name like'%${indexName}%'
            </if>
        </where>
        ORDER BY a.check_pay desc
    </select>
<!--    体检人员所含项目查询-->
    <select id="selectAlonMp" resultMap="Tjproject">
        select * from tj_code_man a
                          inner join tj_man_middle b on a.man_id =b.man_id
                          inner join tj_code_project c on b.check_id =c.check_id
                          inner join department_ks d on c.ks_id =d.ks_id
        where a.man_id=#{manId}
    </select>
</mapper>