<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--门诊-挂失补卡修改记录表mapper-->
<mapper namespace="cn.gson.hisspring.model.mapper.outpatient_module_mapper.MzAlterLoseMapper">
    <resultMap id="alterLoseMaps" type="cn.gson.hisspring.model.pojos.MzAlterLose">
        <id column="al_Number" property="alNumber"></id>
        <result column="al_Card" property="alCard"></result>
        <result column="al_Price" property="alPrice"></result>
        <result column="al_Cause" property="alCause"></result>
        <result column="mc_Number" property="mcNumber"></result>
        <result column="s_Id" property="sId"></result>
        <result column="sick_Number" property="sickNumber"></result>
        <result column="al_Time" property="alTime"></result>
    </resultMap>
    <resultMap id="alterLose" type="cn.gson.hisspring.model.pojos.MzAlterLose">
        <id column="al_Number" property="alNumber"></id>
        <result column="al_Card" property="alCard"></result>
        <result column="al_Price" property="alPrice"></result>
        <result column="al_Cause" property="alCause"></result>
        <result column="mc_Number" property="mcNumber"></result>
        <result column="s_Id" property="sId"></result>
        <result column="sick_Number" property="sickNumber"></result>
        <result column="al_Time" property="alTime"></result>
        <association resultMap="cn.gson.hisspring.model.mapper.outpatient_module_mapper.MzSickMapper.MzSickMap" property="sickObject">
        </association>
        <association property="cardObject" resultMap="cn.gson.hisspring.model.mapper.outpatient_module_mapper.MzMedicalCardMapper.allCard">
        </association>
    </resultMap>

    <select id="selectMzAlterLose" resultMap="alterLose">
        select * from mz_alter_lose a LEFT JOIN mz_medical_card c ON a.mc_number=c.mc_number left join mz_sick s on a.sick_number=s.sick_number where 1=1
        <if test =" like!=null and '' != like"> /*一个mzSickTest模糊查询全部like*/
            and (mc_Card like "%"#{like}"%"
            or sick_Phone like "%"#{like}"%"
            or al_Card like "%"#{like}
            or mc_Id_Card like "%"#{like}"%"
            or sick_id_card like "%"#{like}"%"
            or sick_Name like "%"#{like}"%")
        </if>
        ORDER BY al_time desc
    </select>
</mapper>