<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.gson.hisspring.model.mapper.outpatient_module_mapper.MzMcRechargeMapper">
    <resultMap id="rechargeMaps" type="cn.gson.hisspring.model.pojos.MzMcRecharge">
        <id column="mcrc_Number" property="mcrcNumber"></id>
        <result column="mcrc_Payment" property="mcrcPayment"></result>
        <result column="mcrc_Price" property="mcrcPrice"></result>
        <result column="mcrc_State" property="mcrcState"></result>
        <result column="mcrc_Time" property="mcrcTime"></result>
        <result column="s_id" property="sId"></result>
        <result column="mc_Number" property="mcNumber"></result>
    </resultMap>
    <resultMap id="rechargeMap" type="cn.gson.hisspring.model.pojos.MzMcRecharge">
        <id column="mcrc_Number" property="mcrcNumber"></id>
        <result column="mcrc_Payment" property="mcrcPayment"></result>
        <result column="mcrc_Price" property="mcrcPrice"></result>
        <result column="mcrc_State" property="mcrcState"></result>
        <result column="mcrc_Time" property="mcrcTime"></result>
        <result column="s_id" property="sId"></result>
        <result column="mc_Number" property="mcNumber"></result>

        <association resultMap="cn.gson.hisspring.model.mapper.jurisdiction_module_mapper.StaffMapper.staffMap" property="staffObject">

        </association>
        <association resultMap="cn.gson.hisspring.model.mapper.outpatient_module_mapper.MzMedicalCardMapper.allCard" property="cardObject">

        </association>
    </resultMap>

    <select id="selectMzMcRecharge" resultMap="rechargeMap">
        select * from mz_mc_recharge m LEFT JOIN mz_medical_card c on m.mc_number=c.mc_number
        LEFT JOIN mz_sick k on c.sick_number=k.sick_number
        LEFT JOIN staff s on m.s_id = s.s_id where 1=1
        <if test =" like!=null and '' != like"> /*一个mzSickTest模糊查询全部like*/
            and (c.mc_Card = #{like}
            or c.mc_Id_Card = #{like}
            or k.sick_name = #{like})
        </if>
        ORDER BY mcrc_time desc

    </select>
</mapper>