<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--就诊记录表-->
<mapper namespace="cn.gson.hisspring.model.mapper.outpatient_module_mapper.MzMedicalRecordMapper">
    <resultMap id="recordMap" type="cn.gson.hisspring.model.pojos.MzMedicalRecord">
        <id column="mr_Number" property="mrNumber"></id>
        <result column="mr_Count" property="mrCount"></result>
        <result column="mr_Doctor_Name" property="mrDoctorName"></result>
        <result column="mr_Diagnose_Record" property="mrDiagnoseRecord"></result>
        <result column="mr_Section" property="mrSection"></result>
        <result column="mr_Ks_Name" property="mrKsName"></result>
        <result column="mr_Phone" property="mrPhone"></result>
        <result column="s_Id" property="sId"></result>
        <result column="sick_Number" property="sickNumber"></result>
        <result column="mc_Number" property="mcNumber"></result>
        <result column="bn_Number" property="bnNumber"></result>

    </resultMap>
    <select id="selectMzMedicalRecord" resultMap="recordMap">
        select * from jiuz
        <if test="index !=null and index !=''">
            mr_state = #{index}
        </if>
    </select>
</mapper>