<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--就诊记录表-->
<mapper namespace="cn.gson.hisspring.model.mapper.outpatient_module_mapper.MzMedicalRecordMapper">



    <!--问诊手术查询-->
    <select id="mzSelectAllSsObject" resultMap="cn.gson.hisspring.model.mapper.checkout_module_mapper.SprojectMapper.allProject">
        select * from  ss_operation_project a left join department_ks b on a.ks_id=b.ks_id where 1=1
        <if test ="projectName !=null and '' != projectName">/*手术名称like*/
            and a.project_name like'%${projectName}%'
        </if>
        <if test ="projectType !=null and '' != projectType">/*类型*/
            and a.project_Type = #{projectType}
        </if>
        ORDER BY a.project_pay desc
    </select>

    <!--未缴费页面查询 ，病人缴费，开始查询-->
    <select id="selectAllReCordObject2" resultMap="cn.gson.hisspring.model.mapper.outpatient_module_mapper.ReCordAllVOMapper.reVoAllMap" >
        select * from mzmedicalrecord where 1=1 and mr_state = 1
        <if test="texts !=null and ''!=texts ">
            and  (mr_Count = #{texts}
            or   mr_mc_card = #{texts}
            or mr_id_card = #{texts})
        </if>
        and (sus_state =0 or recipe_drug_state = 0 or man_state = 0)
    -- and date_format(mr_over_time,'%Y-%m-%d') = date_format(NOW(),'%Y-%m-%d')
    </select>
    <!--未缴费页面查询 ，缴费完成，按条件查询就诊号-->
    <select id="selectAllReCordObject3" resultMap="cn.gson.hisspring.model.mapper.outpatient_module_mapper.ReCordAllVOMapper.reVoAllMap" >
        select * from mzmedicalrecord where 1=1 and mr_state = 1
        <if test="texts !=null and ''!=texts ">
            and  (mr_Count = #{texts}
            or   mr_mc_card = #{texts}
            or mr_id_card = #{texts})
        </if>
        and (sus_state =1 or recipe_drug_state = 1 or man_state = 1)
        -- and date_format(mr_over_time,'%Y-%m-%d') = date_format(NOW(),'%Y-%m-%d')
    </select>



    <!--病人信息页面查询 已经就诊完成了的人-->
    <select id="allRecordSick" resultMap="recordMap2">
        select * from mzmedicalrecord where 1=1
        <if test="text !=null and ''!=text ">
            and  (mr_mc_card = #{text}
            or mr_count = #{text}
            or mr_id_card = #{text})
        </if>
        and mr_state = 1
--         and date_format(mr_over_time,'%Y-%m-%d') = date_format(NOW(),'%Y-%m-%d')
        order by mr_number desc
    </select>

    <resultMap id="recordMaps" type="cn.gson.hisspring.model.pojos.MzMedicalRecord">
        <id column="mr_Number" property="mrNumber"></id>
        <result column="mr_Count" property="mrCount"></result>
        <result column="mr_Doctor_Name" property="mrDoctorName"></result>
        <result column="mr_Diagnose_Record" property="mrDiagnoseRecord"></result>
        <result column="mr_Section" property="mrSection"></result>
        <result column="mr_Over_Time" property="mrOverTime"></result>

        <result column="mr_Ks_Name" property="mrKsName"></result>
        <result column="mr_Id_Card" property="mrIdCard"></result>
        <result column="mr_State" property="mrState"></result>
        <result column="mr_Sick_Type" property="mrSickType"></result>
        <result column="mr_Total_Money" property="mrTotalMoney"></result>
        <result column="mr_mc_card" property="mrMcCard"></result>
        <result column="s_Id" property="sId"></result>
        <result column="sick_Number" property="sickNumber"></result>
        <result column="mc_Number" property="mcNumber"></result>
        <result column="bn_Number" property="bnNumber"></result>

    </resultMap>


    <resultMap id="recordMap" type="cn.gson.hisspring.model.pojos.MzMedicalRecord">
        <id column="mr_Number" property="mrNumber"></id>
        <result column="mr_Count" property="mrCount"></result>
        <result column="mr_Doctor_Name" property="mrDoctorName"></result>
        <result column="mr_Diagnose_Record" property="mrDiagnoseRecord"></result>
        <result column="mr_Section" property="mrSection"></result>
        <result column="mr_Over_Time" property="mrOverTime"></result>

        <result column="mr_Ks_Name" property="mrKsName"></result>
        <result column="mr_Id_Card" property="mrIdCard"></result>
        <result column="mr_State" property="mrState"></result>
        <result column="mr_Sick_Type" property="mrSickType"></result>
        <result column="mr_Total_Money" property="mrTotalMoney"></result>
        <result column="mr_mc_card" property="mrMcCard"></result>
        <result column="s_Id" property="sId"></result>
        <result column="sick_Number" property="sickNumber"></result>
        <result column="mc_Number" property="mcNumber"></result>
        <result column="bn_Number" property="bnNumber"></result>
        <association property="recipeObject" resultMap="cn.gson.hisspring.model.mapper.outpatient_module_mapper.MzRecipeMapper.recipeMap"></association>
        <association property="historyObject" resultMap="cn.gson.hisspring.model.mapper.outpatient_module_mapper.MzCaseHistoryMapper.historyMap"></association>
        <association property="sickObject" resultMap="cn.gson.hisspring.model.mapper.outpatient_module_mapper.MzSickMapper.MzSickMap"></association>
    </resultMap>

    <resultMap id="recordMap2" type="cn.gson.hisspring.model.pojos.MzMedicalRecord">
        <id column="mr_Number" property="mrNumber"></id>
        <result column="mr_Count" property="mrCount"></result>
        <result column="mr_Doctor_Name" property="mrDoctorName"></result>
        <result column="mr_Diagnose_Record" property="mrDiagnoseRecord"></result>
        <result column="mr_Section" property="mrSection"></result>
        <result column="mr_Over_Time" property="mrOverTime"></result>

        <result column="mr_Ks_Name" property="mrKsName"></result>
        <result column="mr_Id_Card" property="mrIdCard"></result>
        <result column="mr_State" property="mrState"></result>
        <result column="mr_Sick_Type" property="mrSickType"></result>
        <result column="mr_Total_Money" property="mrTotalMoney"></result>
        <result column="mr_mc_card" property="mrMcCard"></result>
        <result column="s_Id" property="sId"></result>
        <result column="sick_Number" property="sickNumber"></result>
        <result column="mc_Number" property="mcNumber"></result>
        <result column="bn_Number" property="bnNumber"></result>
        <association property="opcObject" resultMap="cn.gson.hisspring.model.mapper.outpatient_module_mapper.MzOpcNumberMapper.opcNumberMaps" ></association>
        <association property="recipeObject" resultMap="cn.gson.hisspring.model.mapper.outpatient_module_mapper.MzRecipeMapper.recipeMap"></association>
        <association property="historyObject" resultMap="cn.gson.hisspring.model.mapper.outpatient_module_mapper.MzCaseHistoryMapper.historyMap"></association>
        <association property="sickObject" resultMap="cn.gson.hisspring.model.mapper.outpatient_module_mapper.MzSickMapper.MzSickMap"></association>
    </resultMap>

    <resultMap id="recordMap3" type="cn.gson.hisspring.model.pojos.MzMedicalRecord">
        <id column="mr_Number" property="mrNumber"></id>
        <result column="mr_Count" property="mrCount"></result>
        <result column="mr_Doctor_Name" property="mrDoctorName"></result>
        <result column="mr_Diagnose_Record" property="mrDiagnoseRecord"></result>
        <result column="mr_Section" property="mrSection"></result>
        <result column="mr_Over_Time" property="mrOverTime"></result>
        <result column="mr_Ks_Name" property="mrKsName"></result>
        <result column="mr_Id_Card" property="mrIdCard"></result>
        <result column="mr_State" property="mrState"></result>
        <result column="mr_Sick_Type" property="mrSickType"></result>
        <result column="mr_Total_Money" property="mrTotalMoney"></result>
        <result column="mr_mc_card" property="mrMcCard"></result>
        <result column="s_Id" property="sId"></result>
        <result column="sick_Number" property="sickNumber"></result>
        <result column="mc_Number" property="mcNumber"></result>
        <result column="bn_Number" property="bnNumber"></result>

        <association property="opcObject" resultMap="cn.gson.hisspring.model.mapper.outpatient_module_mapper.MzOpcNumberMapper.opcNumberMaps" ></association>
        <association property="sickObject" resultMap="cn.gson.hisspring.model.mapper.outpatient_module_mapper.MzSickMapper.MzSickMap"></association>

    </resultMap>

</mapper>