<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--门诊挂号表 - mapper-->
<mapper namespace="cn.gson.hisspring.model.mapper.outpatient_module_mapper.MzRegistrationMapper">
    <resultMap id="regMaps" type="cn.gson.hisspring.model.pojos.MzRegistration">
        <id column="rt_Number" property="rtNumber"></id>
        <result column="rt_Price" property="rtPrice"></result>
        <result column="rt_State" property="rtState"></result>
        <result column="rt_Type" property="rtType"></result>
        <result column="rt_Class" property="rtClass"></result>
        <result column="rt_Science" property="rtScience"></result>
        <result column="rt_Doctor" property="rtDoctor"></result>
        <result column="rt_Doctor_Genre" property="rtDoctorGenre"></result>
        <result column="rt_Time" property="rtTime"></result>
        <result column="rt_Onset_Time" property="rtOnsetTime"></result>
        <result column="rt_Over_Ks_Name" property="rtOverKsName"></result>
        <result column="s_Id" property="sId"></result>
        <result column="sick_Number" property="sickNumber"></result>
        <result column="mc_Number" property="mcNumber"></result>
        <result column="ks_Id" property="ksId"></result>
        <result column="doctor_sid" property="doctorSid"></result>
    </resultMap>
    <resultMap id="regMap" type="cn.gson.hisspring.model.pojos.MzRegistration">
        <id column="rt_Number" property="rtNumber"></id>
        <result column="rt_Price" property="rtPrice"></result>
        <result column="rt_State" property="rtState"></result>
        <result column="rt_Type" property="rtType"></result>
        <result column="rt_Class" property="rtClass"></result>
        <result column="rt_Science" property="rtScience"></result>
        <result column="rt_Doctor" property="rtDoctor"></result>
        <result column="rt_Doctor_Genre" property="rtDoctorGenre"></result>
        <result column="rt_Time" property="rtTime"></result>
        <result column="rt_Onset_Time" property="rtOnsetTime"></result>
        <result column="rt_Over_Ks_Name" property="rtOverKsName"></result>
        <result column="s_Id" property="sId"></result>
        <result column="sick_Number" property="sickNumber"></result>
        <result column="mc_Number" property="mcNumber"></result>
        <result column="ks_Id" property="ksId"></result>
        <result column="doctor_sid" property="doctorSid"></result>
        <association resultMap="cn.gson.hisspring.model.mapper.inhospital_module_mapper.PatientBaseMapper.staffMaps" property="staffObject">
        </association>
        <association resultMap="cn.gson.hisspring.model.mapper.outpatient_module_mapper.MzMedicalCardMapper.allCard" property="cardObject">
        </association>
    </resultMap>


    <!--查询挂号表所有-->
    <select id="selectMzRegistration" resultMap="regMap">
        select * from mz_registration reg
            LEFT JOIN mz_medical_card c on reg.mc_number=c.mc_number
            LEFT JOIN mz_sick k on reg.sick_number=k.sick_number
            LEFT JOIN staff s on reg.s_id = s.s_id where 1=1
            <if test="reg != null and '' != reg">
                and (c.mc_Card = #{reg}
                or reg.rt_Doctor=#{reg}
                or k.sick_name = #{reg}
                or k.sick_phone = #{reg}
                or c.mc_Id_Card = #{reg} )
            </if>
            <if test=" index==1 ">
                and date_format(reg.rt_Onset_Time,'%Y-%m-%d') = #{dates}
            </if>
            <if test=" index==2 ">
                and date_format(reg.rt_Onset_Time,'%Y-%m-%d') > #{dates}
            </if>
            <if test="index !=1 and index !=2">
                and date_format(reg.rt_Onset_Time,'%Y-%m-%d') >= date_format(now(),'%Y-%m-%d')
            </if>
            and reg.rt_state = 0
            ORDER BY reg.rt_Onset_Time desc
    </select>
    <!--查询科室挂号信息-->
    <select id="selectWzCount" resultMap="regMap">
        select * from mz_registration reg
        LEFT JOIN mz_medical_card c on reg.mc_number=c.mc_number
        LEFT JOIN mz_sick k on reg.sick_number=k.sick_number
        LEFT JOIN staff s on reg.s_id = s.s_id where 1=1
        <if test="test!=null and '' !=test">
            and reg.rt_over_ks_name = #{test} order by reg.rt_time
        </if>

    </select>
</mapper>