<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--西药处方表-->
<mapper namespace="cn.gson.hisspring.model.mapper.outpatient_module_mapper.MzXprescriptionMapper">
    <resultMap id="xpMaps" type="cn.gson.hisspring.model.pojos.MzXprescription">
        <id column="rd_Number" property="rdNumber"></id>
        <result column="rd_Name" property="rdName"></result>
        <result column="rd_Count" property="rdCount"></result>
        <result column="rd_Way" property="rdWay"></result>
        <result column="rd_Price" property="rdPrice"></result>
        <result column="rd_Typpe" property="rdTyppe"></result>
        <result column="rd_Skin" property="rdSkin"></result>
        <result column="rd_Grouping" property="rdGrouping"></result>
        <result column="rd_Entrust" property="rdEntrust"></result>
        <result column="drug_Id" property="drugId"></result>
        <result column="recipe_Number" property="recipeNumber"></result>
        <result column="rd_State_Price" property="rdStatePrice"></result>

        <result column="rd_Dosage" property="rdDosage"></result>
        <result column="rd_Frequency" property="rdFrequency"></result>
        <result column="rd_Skin_Result" property="rdSkinResult"></result>
    </resultMap>


    <insert id="addListXp">
        insert into Mz_Xprescription (
            rd_name,
            rd_count,
            rd_dosage,
            rd_frequency,
            rd_way,
            rd_price,
            rd_typpe,
            Rd_skin,
            Rd_skinResult,
            rd_grouping,
            rd_entrust,
            rd_state_price,
            drug_id,
            recipe_number
        )  values
        <foreach collection="list" separator="," item="xp">
            (
            #{xp.rdName},
            #{xp.rdCount},
            #{xp.rdDosage},
            #{xp.rdFrequency},
            #{xp.rdWay},
            #{xp.rdPrice},
            #{xp.rdTyppe},
            #{xp.rdSkin},
            #{xp.rdSkinResult},
            #{xp.rdGrouping},
            #{xp.rdEntrust},
            #{xp.rdStatePrice},
            #{xp.drugId},
            #{xp.recipeNumber}
            )
        </foreach>
    </insert>
</mapper>