<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.gson.hisspring.model.mapper.outpatient_module_mapper.ReCordAllVOMapper">
    <resultMap id="reVoAllMap" type="cn.gson.hisspring.model.pojos.pojos_vo.ReCordAllVO">
        <association property="medicalRecordObject" resultMap="cn.gson.hisspring.model.mapper.outpatient_module_mapper.MzMedicalRecordMapper.recordMap3"></association>
        <association property="historyObject" resultMap="cn.gson.hisspring.model.mapper.outpatient_module_mapper.MzCaseHistoryMapper.historyMap"></association>

        <association property="recipeObject" resultMap="cn.gson.hisspring.model.mapper.outpatient_module_mapper.MzRecipeMapper.recipeMaps"></association>

        <association property="tjCodeManObject" resultMap="cn.gson.hisspring.model.mapper.outpatient_module_mapper.MzTjManResultMapper.tjMaps"></association>

        <association property="surgeryStampObject" resultMap="cn.gson.hisspring.model.mapper.outpatient_module_mapper.MzssProjectMapper.surgeryMaps"></association>
        <!--处方西药，中药集合-->
        <collection property="xpList" resultMap="cn.gson.hisspring.model.mapper.outpatient_module_mapper.MzXprescriptionMapper.xpMaps"></collection>
        <collection property="zpList" resultMap="cn.gson.hisspring.model.mapper.outpatient_module_mapper.MzZprescriptionMapper.zmMaps"></collection>
        <!--手术集合-->
        <collection property="centerSurgeryList" resultMap="cn.gson.hisspring.model.mapper.outpatient_module_mapper.MzssProjectMapper.centerSurgeryMaps"></collection>
        <!--体检集合-->
        <collection property="tjManResultList" resultMap="cn.gson.hisspring.model.mapper.outpatient_module_mapper.MzTjManResultMapper.tjResultMaps"></collection>
    </resultMap>


    <!--问诊页面查询就诊列表-->
    <select id="selectAllReCordObject" resultMap="reVoAllMap">
        select * from mzmedicalrecord where 1=1
        <if test="index != null and ''!=index" >
            and mr_state = #{index}
        </if>
        <if test="texts !=null and ''!=texts ">
            and  (mr_mc_card = #{texts}
            or mr_id_card = #{texts})
        </if>
--         and date_format(mr_over_time,'%Y-%m-%d') = date_format(NOW(),'%Y-%m-%d')
        order by mr_number
    </select>
</mapper>