<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.gson.hisspring.model.mapper.inhospital_module_mapper.DoctorEnjoinMapper">

    <!--封装医嘱信息-->
    <resultMap id="deMap" type="cn.gson.hisspring.model.pojos.ZyDoctorEnjoin">
        <result column="De_id" property="deId"/>
        <result column="De_longorshort" property="deLongorshort"/>
        <result column="Pt_no" property="ptNo"/>
        <result column="S_id" property="sId"/>
        <result column="De_doctor_name" property="deDoctorName"/>
        <result column="De_date" property="deDate"/>
        <result column="De_chinese_method" property="deChineseMethod"/>
        <result column="de_text" property="deText"/>
        <result column="De_execute_date" property="deExecuteDate"/>
        <result column="De_end_date" property="deEndDate"/>

        <!--封装医嘱详情数据-->
        <collection property="dedList" resultMap="cn.gson.hisspring.model.mapper.inhospital_module_mapper.DoctorEnjoinDetailsMapper.desMap"></collection>
    </resultMap>

    <!--封装医嘱信息-->
    <select resultMap="deMap" id="doctorEnjoinSelectByPtId">
        select * from seltDoctorEnjoin
        <where>
            <if test=" ptNo != '' and ptNo != null">
                pt_no  = #{ptNo}
            </if>

                <if test="(startDate != null) and (endDate != null)">
                    and (DATE_FORMAT(De_execute_date,'%Y-%m-%d') between DATE_FORMAT(#{startDate},'%Y-%m-%d') and DATE_FORMAT(#{endDate},'%Y-%m-%d') or DATE_FORMAT(De_execute_date,'%Y-%m-%d') between DATE_FORMAT(#{endDate},'%Y-%m-%d') and  DATE_FORMAT(#{startDate},'%Y-%m-%d'))
                </if>

                <if test="(startDate != null) and (endDate == null)">
                    and DATE_FORMAT(De_execute_date,'%Y-%m-%d') = DATE_FORMAT(#{startDate},'%Y-%m-%d')
                </if>

                <if test="(startDate == null) and (endDate != null)">
                    and DATE_FORMAT(De_execute_date,'%Y-%m-%d') = DATE_FORMAT(#{endDate},'%Y-%m-%d')
                </if>

                <if test="doctorType != null and doctorType != '' ">
                    and de_longorshort = #{doctorType}
                </if>

        </where>
        order by de_execute_date desc,De_end_date desc
    </select>

    <!--封装医嘱信息-->
<!--    <select resultMap="deMap" id="doctorEnjoinDetailsSelectByPtId">-->
<!--        select * from seltDoctorEnjoin-->
<!--        <where>-->
<!--            <if test=" ptNo != '' and ptNo != null">-->
<!--                pt_no  = #{ptNo}-->
<!--            </if>-->
<!--        </where>-->
<!--    </select>-->

</mapper>