<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.gson.hisspring.model.mapper.inhospital_module_mapper.DoctorEnjoinExecuteRecordMapper">


<!--    <insert id="insertDoctorEnjoinExecuteRecordFor">-->
<!--        insert into zy_doctor_enjoin_execute_record(-->
<!--                                                    Des_id,-->
<!--                                                    Der_execute_date,-->
<!--                                                    Der_drug_price,-->
<!--                                                    Pt_no-->
<!--                                                    S_id-->
<!--                                                    )-->
<!--                                                    values-->
<!--                                                    <foreach collection="list" item="des">-->
<!--                                                        -->
<!--                                                    </foreach>-->
<!--    </insert>-->

    <resultMap id="dExecuteIdMap" type="cn.gson.hisspring.model.pojos.ZyDoctorEnjoinExecuteRecord">
        <result property="desId" column="des_id"/>
    </resultMap>


    <select id="selectExecutePharmacyByKsIdOrDrugId" resultMap="dExecuteIdMap">
        select * from seltExecutePharmacys

        <where>
            <if test="dvDrugId != '' and dvDrugId != null ">
                des_drug_id = #{dvDrugId}
            </if>

            <if test="(dvKsId != '' and dvKsId != null) and (dvDrugId != '' and dvDrugId != null)">
                and
            </if>

            <if test="dvKsId != '' and dvKsId != null ">
                ks_id = #{dvKsId}
            </if>
        </where>
    </select>



    <update id="updateDoctorExecuteIs">
        update zy_doctor_enjoin_execute_record set der_is = 1 where Des_id in
        (
        <foreach collection="zyDoctorEnjoinExecuteRecord" item="de" separator=",">
            #{de.desId}
        </foreach>
        )
    </update>
</mapper>