<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.gson.hisspring.model.mapper.inhospital_module_mapper.DoctorEnjoinDetailsMapper">

    <!--封装医嘱详情信息map-->
    <resultMap id="desMap" type="cn.gson.hisspring.model.pojos.ZyDoctorEnjoinDetails">
        <result column="De_id" property="deId"/>
        <result column="De_longorshort" property="deLongorshort"/>
        <result column="Pt_no" property="ptNo"/>
        <result column="S_id" property="sId"/>
        <result column="De_doctor_name" property="deDoctorName"/>
        <result column="des_Execute_Date" property="desExecuteDate" />
        <result column="des_end_date" property="desEndDate"/>


        <result column="Des_id" property="desId"/>
        <result column="De_id" property="deId"/>
        <result column="des_drug_id" property="desDrugId"/>
        <result column="des_drug_is" property="desDrugIs"/>
        <result column="Des_drug_name" property="desDrugName"/>
        <result column="Des_text" property="desText"/>
        <result column="Des_specification" property="desSpecification"/>
        <result column="Des_measure" property="desMeasure"/>
        <result column="Des_frequency" property="desFrequency"/>
        <result column="Des_unit" property="desUnit"/>
        <result column="Des_usage" property="desUsage"/>
        <result column="des_entering_date" property="desEnteringDate"/>
        <result column="des_count" property="desCount"/>
        <result column="Des_price" property="desPrice" />
        <result column="Des_is" property="desIs" />
        <result column="Des_present_date" property="desPresentDate" />
    </resultMap>


    <!--循环医嘱表的医嘱编号修改医嘱详表里面的执行日期-->
    <update id="doctorEnjoinDetailsByDeIdFor">
        update zy_doctor_enjoin_details set Des_end_date = current_timestamp where  De_id in(
        <foreach collection="list" item="des" separator=",">
            #{des.deId}
        </foreach>
        )
    </update>

    <!--循环修改医嘱详表里面的执行日期-->
    <update id="doctorEnjoinDetailsExecuteFor">
        update ZY_doctor_enjoin_details set Des_present_date = current_timestamp where Des_id in(
        <foreach collection="list" item="des" separator=",">
            #{des.desId}
        </foreach>
        ) and (des_present_date is null or DATE_FORMAT(des_Present_Date,'%Y-%m-%d') != DATE_FORMAT(NOW(),'%Y-%m-%d'))
    </update>


    <!--根据医嘱详表编号修改执行日期-->
    <update id="doctorEnjoinDetailsExecute">
        update ZY_doctor_enjoin_details set Des_present_date = current_timestamp where Des_id = #{desId}
    </update>

    <!--根据病人编号查询医嘱详情-->
    <select id="doctorEnjoinDetailsSelectByPtId" resultMap="desMap">
        select * from seltDoctorEnjoin
        <where>
            <if test=" ptNo != '' and ptNo != null">
                pt_no  = #{ptNo}
            </if>
            <if test="(startDate != null) and (endDate != null)">
                and (DATE_FORMAT(De_execute_date,'%Y-%m-%d') between DATE_FORMAT(#{startDate},'%Y-%m-%d') and DATE_FORMAT(#{endDate},'%Y-%m-%d') or DATE_FORMAT(De_execute_date,'%Y-%m-%d') between DATE_FORMAT(#{endDate},'%Y-%m-%d') and  DATE_FORMAT(#{startDate},'%Y-%m-%d'))
            </if>

            <if test="(startDate != null) and (endDate == null)">
                and DATE_FORMAT(De_execute_date,'%Y-%m-%d') = DATE_FORMAT(#{startDate},'%Y-%m-%d')
            </if>

            <if test="(startDate == null) and (endDate != null)">
                and DATE_FORMAT(De_execute_date,'%Y-%m-%d') = DATE_FORMAT(#{endDate},'%Y-%m-%d')
            </if>

            <if test="doctorType != null and doctorType != '' ">
                and de_longorshort = #{doctorType}
            </if>
        </where>
        order by des_execute_date desc , des_end_date desc
    </select>


    <!--根据病人编号查询医嘱详情-->
    <select resultMap="desMap" id="patientDoctorByPtNo">
        select * from seltdoctorenjoinexecute
        <where>
            <if test="ptNo != '' and ptNo != null">
                pt_no = #{ptNo}
            </if>
        </where>
    </select>



    <update id="updateDesByDeIdOrDesId">
        update zy_doctor_enjoin_details set Des_is = 2 
        <where>
            <if test="desId != '' and desId != null">
                des_id = #{desId}
            </if>

            <if test="deId != '' and deId != null">
                de_id = #{deId}
            </if>
        </where>
    </update>



    <!--循环新增医嘱详表数据-->
    <insert id="insertDeDetailsFor">
        insert into zy_doctor_enjoin_details(
                                            De_id,
                                            des_drug_id,
                                            des_drug_is,
                                            Des_drug_name,
                                            Des_text,
                                            Des_specification,
                                            Des_measure,
                                            Des_frequency,
                                            Des_unit,
                                            Des_usage,
                                            des_entering_date,
                                            des_count,
                                            Des_price,
                                            Des_is,
                                            Des_present_date,
                                            Des_execute_date,
                                            Des_end_date
                                            )
                                            values
                                        <foreach collection="dedList" separator="," item="des">
                                            (
                                            #{deId},
                                            #{des.desDrugId},
                                            #{des.desDrugIs},
                                            #{des.desDrugName},
                                            #{des.desText},
                                            #{des.desSpecification},
                                            #{des.desMeasure},
                                            #{des.desFrequency},
                                            #{des.desUnit},
                                            #{des.desUsage},
                                            #{des.desEnteringDate},
                                            #{des.desCount},
                                            #{des.desPrice},
                                            1,
                                            null,
                                            #{DesExecuteDate},
                                            null
                                            )
                                        </foreach>
    </insert>




    <!--批量修改停嘱日期-->
    <update id="updateDoctorEnjoinDetailsFor">
        update zy_doctor_enjoin_details set Des_end_date = #{sde.sdeDate} where des_end_date is null and de_id = #{sde.derId}
    </update>
</mapper>