<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.gson.hisspring.model.mapper.inhospital_module_mapper.InHospitalApplyMapper">

    <!--查询住院申请信息以及病人信息-->
    <resultMap id="haMap" type="cn.gson.hisspring.model.pojos.ZyInhospitalApply">
        <result column="In_id" property="inId"/>
        <result column="In_diagnosis" property="inDiagnosis"/>
        <result column="in_suggest" property="inSuggest"/>

        <result column="In_apply_date" property="inApplyDate"/>
        <result column="Ks_id" property="ksId"/>
        <result column="Ks_name" property="ksName"/>
        <result column="In_proposer" property="inProposer"/>
        <result column="s_id" property="sId"/>
        <result column="sick_number" property="sickNumber"/>
        <result column="In_is" property="inIs"/>

        <result column="mr_Number" property="mrNumber"/>
        <result column="pt_No" property="ptNo"/>

        <association resultMap="cn.gson.hisspring.model.mapper.outpatient_module_mapper.MzSickMapper.MzSickMap" property="sick"></association>

        <association property="staff" resultMap="cn.gson.hisspring.model.mapper.inhospital_module_mapper.PatientBaseMapper.staffMaps"></association>
    </resultMap>




    <!--视图-->
    <select resultMap="haMap" id="selectHspApplyByInIs">
                SELECT
                *
        FROM
            seltInHospitalAndMzSickAndStaffAndKs
        <where>
            <if test="inIs != '' ">
                In_is = #{inIs}
            </if>
        </where>
    </select>
</mapper>