<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.gson.hisspring.model.mapper.inhospital_module_mapper.InHospitalApplyMapper">

    <!--查询住院申请信息以及病人信息-->
    <resultMap id="haMap" type="cn.gson.hisspring.model.pojos.ZyInhospitalApply">
        <result column="In_id" property="inId"/>
        <result column="In_diagnosis" property="inDiagnosis"/>
        <result column="in_suggest" property="inSuggest"/>

        <result column="In_apply_date" property="inApplyDate"/>
        <result column="Ks_id" property="ksId"/>
        <result column="Ks_name" property="ksName"/>
        <result column="In_proposer" property="inProposer"/>
        <result column="s_id" property="sId"/>
        <result column="sick_number" property="sickNumber"/>
        <result column="In_is" property="inIs"/>

        <result column="mr_Number" property="mrNumber"/>
        <result column="pt_No" property="ptNo"/>

        <association resultMap="cn.gson.hisspring.model.mapper.outpatient_module_mapper.MzSickMapper.MzSickMap" property="sick"></association>

        <association property="staff" resultMap="cn.gson.hisspring.model.mapper.inhospital_module_mapper.PatientBaseMapper.staffMaps"></association>
    </resultMap>


    <!--查询出所有的主治医生-->
    <select id="selectPatientStaffAll" resultMap="cn.gson.hisspring.model.mapper.inhospital_module_mapper.PatientBaseMapper.staffMaps">
        select * from staff where s_id in(
            select s_id from seltInHospitalAndMzSickAndStaffAndKs where in_is = 1 group by s_id
        )
    </select>



    <!--视图-->
    <select resultMap="haMap" id="selectHspApplyByInIs">
                SELECT
                *
        FROM
            seltInHospitalAndMzSickAndStaffAndKs
        <where>
            <if test="inIs != '' ">
                and In_is = #{inIs}
            </if>
            <if test="doctorType != null and doctorType != ''">
                and ks_id = #{doctorType}
            </if>
            <if test="searchLike != null and searchLike != ''">
                and  (sick_phone = #{searchLike} or sick_name like '%${searchLike}%' or sick_id_card = #{searchLike})
            </if>

            <if test="(startDate != null) and (endDate != null)">
                and (DATE_FORMAT(in_apply_date,'%Y-%m-%d') between DATE_FORMAT(#{startDate},'%Y-%m-%d') and DATE_FORMAT(#{endDate},'%Y-%m-%d') or DATE_FORMAT(in_apply_date,'%Y-%m-%d')  between DATE_FORMAT(#{endDate},'%Y-%m-%d') and  DATE_FORMAT(#{startDate},'%Y-%m-%d'))
            </if>

            <if test="(startDate != null) and (endDate == null)">
                and DATE_FORMAT(in_apply_date,'%Y-%m-%d') = DATE_FORMAT(#{startDate},'%Y-%m-%d')
            </if>

            <if test="(startDate == null) and (endDate != null)">
                and DATE_FORMAT(in_apply_date,'%Y-%m-%d') = DATE_FORMAT(#{endDate},'%Y-%m-%d')
            </if>
        </where>
    </select>
</mapper>