<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.gson.hisspring.model.mapper.inhospital_module_mapper.PatientCostMapper">

    <resultMap id="payCostMap" type="cn.gson.hisspring.model.pojos.pojos_vo.PatientCostVo">
        <result column="pcd_price" property="pcdPrice"/>
        <result column="cause" property="name"/>
    </resultMap>

    <resultMap id="payCostMaps" type="cn.gson.hisspring.model.pojos.pojos_vo.PatientCostVo">
        <result column="pcd_price" property="pcdPrice"/>
        <result column="cause" property="name"/>
        <result property="pcdCause" column="pcd_cause"/>
        <result property="ptNo" column="pt_no"/>
        <result property="name" column="name"/>
        <result property="pcdId" column="pcd_id"/>
        <result property="sName" column="s_name"/>
    </resultMap>

    <select id="selectPayAll" resultMap="payCostMap">
        select sum(pcd_price)as pcd_price,if(pcd_cause = '医嘱药品费用' || pcd_cause = '床位费用' || pcd_cause = '化验项目费用' ,pcd_cause,'其他费用') AS cause from seltpatientcostbreakdown
         <where>

             <if test="(startDate != null) and (endDate != null)">
                 and (DATE_FORMAT(pcd_date,'%Y-%m-%d') between DATE_FORMAT(#{startDate},'%Y-%m-%d') and DATE_FORMAT(#{endDate},'%Y-%m-%d') or DATE_FORMAT(pcd_date,'%Y-%m-%d')  between DATE_FORMAT(#{endDate},'%Y-%m-%d') and  DATE_FORMAT(#{startDate},'%Y-%m-%d'))
             </if>

             <if test="(startDate != null) and (endDate == null)">
                 and DATE_FORMAT(pcd_date,'%Y-%m-%d') = DATE_FORMAT(#{startDate},'%Y-%m-%d')
             </if>

             <if test="(startDate == null) and (endDate != null)">
                 and DATE_FORMAT(pcd_date,'%Y-%m-%d') = DATE_FORMAT(#{endDate},'%Y-%m-%d')
             </if>
             <if test="ptNo != null and ptNo != ''">
                 and pt_no = #{ptNo}
             </if>
             <if test="sIdArr != null and sIdArr != '' and sIdArr.size() > 0"><!--如果不是病床费用就根据员工编号查询-->
                 and pcd_sid in (<foreach collection="sIdArr" item="sId"  separator=",">
                     #{sId}
                 </foreach>)
             </if>


         </where>

         group by cause
    </select>


    <select id="selectPayByWhere" resultMap="payCostMaps">
        select * from seltpatientcostbreakdown left join staff on seltpatientcostbreakdown.pcd_sid = staff.s_id
        <where>
            <if test="(startDate != null) and (endDate != null)">
                and (DATE_FORMAT(pcd_date,'%Y-%m-%d') between DATE_FORMAT(#{startDate},'%Y-%m-%d') and DATE_FORMAT(#{endDate},'%Y-%m-%d') or DATE_FORMAT(pcd_date,'%Y-%m-%d')  between DATE_FORMAT(#{endDate},'%Y-%m-%d') and  DATE_FORMAT(#{startDate},'%Y-%m-%d'))
            </if>

            <if test="(startDate != null) and (endDate == null)">
                and DATE_FORMAT(pcd_date,'%Y-%m-%d') = DATE_FORMAT(#{startDate},'%Y-%m-%d')
            </if>

            <if test="(startDate == null) and (endDate != null)">
                and DATE_FORMAT(pcd_date,'%Y-%m-%d') = DATE_FORMAT(#{endDate},'%Y-%m-%d')
            </if>

            <if test="text != '病床费用'and sIdArr != null and sIdArr != '' and sIdArr.size() > 0"><!--如果不是病床费用就根据员工编号查询-->
                and pcd_sid in (<foreach collection="sIdArr" item="sId"  separator=",">
                    #{sId}
                </foreach>)
            </if>

            <if test="text != null and text != '' and text != '其它费用'">
                and pcd_cause = #{text}
            </if>

            <if test="text == '其它费用'">
                and pcd_cause is not null and pcd_cause not in('医嘱药品费用', '床位费用','化验项目费用')
            </if>

            <if test="ptNo != null and ptNo != ''">
                and pt_no = #{ptNo}
            </if>
        </where>
    </select>
</mapper>