<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.gson.hisspring.model.mapper.inhospital_module_mapper.StopDoctorEnjoinMapper">
    
    <insert id="insertStopDoctorEnjoinFor">
        insert into zy_stop_doctor_enjoin(
                                            Der_id,
                                            S_id,
                                            Sde_doctor_name,
                                            Sde_stop_cause,
                                            sde_Date,
                                            pt_no
                                        ) values
        <foreach collection="dedList" item="ded" separator=",">
            (#{ded.desId},#{sde.sId},#{sde.sdeDoctorName},#{sde.sdeStopCause},#{sde.sdeDate},#{sde.ptNo})
        </foreach>
    </insert>
</mapper>